CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

cmake-build-debug/

\.idea/
.vs/
*.vcxproj
*.filters
*.user
*.cbp
*.sln
Debug/
lib/
Release/
*.exe
*.manifest
*.ilk
*.pdb
*.dll

data/
